<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Persist Security Info=False;"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultDbName" value="Songs.mdb"/>
    <add key="DefaultFolderName" value="SongsOutput"/>
    <add key="CapitalizedWordList" value="Jesus,God,King,I,Lord,You,Your,He,His,Him,Spirit,Zion,King of Kings,Lord of Lords,Ancient of Days,Jireh,Nissi,Shalom,Rock of Ages,Emmanuel"/>
  </appSettings>
</configuration>